/* ====================== Main Content ====================== */
main {
    grid-area: main;
    width: 100%;
    color: var(--text-color);
    padding: 2em;
}

.mainContent {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}
main .selection {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 30px 10px 0 10px;
    gap: 30px;
}

main .selection .mode,
main .selection .date,
main .selection .singleMode {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #000;
}

main .selection .inputs {
    display: flex;
    gap: 20px;
}

main .selection .inputs input {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 400;
    border: 1px solid #000;
}
main .InfoforUse {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

main .InfoforUse span {
    color: gray;
    padding: 10px 20px;
    font-weight: 600;
    font-style: italic;
}
main .checkbox,
main .sendButton {
    margin: 0 auto;
    width: 600px;
}
main .checkbox {
    margin-top: auto;
    display: flex;
    align-items: center;
}
main .checkbox input {
    margin-right: 10px;
}
main .lowerArea {
    position: absolute;
    bottom: 30px;
    left: 60%;
    transform: translateX(-50%);
}
.checkbox-wrapper-46{
    margin-bottom: 10px;
}

.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}
.checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
    color: #000;
}
.checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506eec;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506eec;
}  
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #506eec;
    border-color: #506eec;
    animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
} 
@keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
}
.sendButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
    max-height: 40px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 1em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.sendButton:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}  
.sendButton:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}  
.sendButton:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
.sendButton:hover {
    color: #ffffff;
    border: 1px solid #009087;
}
.sendButton:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.sendButton:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
main .userInput-area {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 1200px;
    height: 480px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .userInput-area input {
    width: 100%;
    max-width: 500px;
    height: 15px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}